
<%
  # If there were errors, then display the error messages.

  if @entry_id.blank?
%>
<p><b>** Unable to find video because no entry_id was supplied.</b></p>
<%
  elsif ! @video
%>
<p><b>** No video found for entry_id = <%= "#{@entry_id}" %></b></p> 
<%
  end

  if ! @submitted_password.blank? and @submitted_password_hash != @video.password_hash
%>
<p><b>** Invalid password submitted for video with entry_id = <%= "#{@entry_id}" %></b></p>
<%
  end

  if @submitted_password.blank? or @submitted_password_hash != @video.password_hash

  # If there were no errors and the password was not confirmed, then show the password form
%>

<%= render partial: "passwordform", locals: { entry_id: @entry_id } %>

<%
  else # Otherwise, show the video
%>

<p align="center">
  <!-- Generate the embed code using the Kaltura Embed Code Generator JavaScript library.  The library can be downloaded here https://github.com/kaltura/EmbedCodeGenerator -->
  <!-- script src="EmbedCodeGenerator/dist/KalturaEmbedCodeGenerator.js"></script -->
  <%= javascript_include_tag "KalturaEmbedCodeGenerator" %>
  <script>
  var gen = new kEmbedCodeGenerator({
    partnerId: "<%= "#{@partner_id}" %>",
    uiConfId: "<%= "#{@video.uiconf_id}" %>",
    entryId: "<%= "#{@video.entry_id}" %>",
    flashVars: {ks: "<%= "#{@session}" %>"}
  });
  document.write(gen.getCode());
  </script>
</p>

<%
 end
%>



