<h1>Password Protected Video</h1>

<%
  # First display display error messages

  if @entry_id.blank?
%>
<p>Unable to find video becuase no entry_id was supplied.</p>
<%
  elsif ! @video
%>
<p>No video found for entry_id = <%= "#{@entry_id}" %></p> 
<%
  end

  if ! @submitted_password.blank? and @submitted_password_hash != @video.password_hash
%>
<p>Invalid password submitted for video with entry_id = <%= "#{@entry_id}" %></p>
<%
  end

  if @submitted_password.blank? or @submitted_password_hash != @video.password_hash

  # Show form asking for password
%>

<%= render partial: "passwordform", locals: { entry_id: @entry_id } %>

<%
  else # Render embed code
%>

<p>
  <!-- Generate the embed code using the Kaltura Embed Code Generator JavaScript library.  The library can be downloaded here https://github.com/kaltura/EmbedCodeGenerator -->
  <!-- script src="EmbedCodeGenerator/dist/KalturaEmbedCodeGenerator.js"></script -->
  <%= javascript_include_tag "KalturaEmbedCodeGenerator" %>
  <script>
  var gen = new kEmbedCodeGenerator({
    partnerId: "<%= "#{@partner_id}" %>",
    uiConfId: "<%= "#{@video.uiconf_id}" %>",
    entryId: "<%= "#{@video.entry_id}" %>",
    flashVars: {ks: "<%= "#{@session}" %>"}
  });
  document.write(gen.getCode());
  </script>
</p>

<%
 end
%>
