<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header>
  <div class="header-inner">
    <a id="pu-logo" href="http://www.princeton.edu">Princeton University</a>
    <h1>Password Protected Video</h1>
  </div>
</header>

<div id="container">

  <div id="content">
<p>
This is a BETA service provided as-is by the Office of Information Technology for the convenience of
customers of the Broadcast Center.
Although we intend to make this a useful service for customers of the Broadcast Center, we make
no guarantees concerning this service's performance, availability, or fit for any specific purpose.
If you have any questions, please contact <a href="mailto:mediacentral@princeton.edu">mediacentral@princeton.edu</a>.
</p>

<%
  # If there were errors, then display the error messages.

  if @entry_id.blank?
%>
<p><b>** Unable to find video because no entry_id was supplied.</b></p>
<%
  elsif ! @video
%>
<p><b>** No video found for entry_id = <%= "#{@entry_id}" %></b></p> 
<%
  end

  if ! @submitted_password.blank? and @submitted_password_hash != @video.password_hash
%>
<p><b>** Invalid password submitted for video with entry_id = <%= "#{@entry_id}" %></b></p>
<%
  end

  if @submitted_password.blank? or @submitted_password_hash != @video.password_hash

  # If there were no errors and the password was not confirmed, then show the password form
%>

<%= render partial: "passwordform", locals: { entry_id: @entry_id } %>

<%
  else # Otherwise, show the video
%>

<p align="center">
  <!-- Generate the embed code using the Kaltura Embed Code Generator JavaScript library.  The library can be downloaded here https://github.com/kaltura/EmbedCodeGenerator -->
  <!-- script src="EmbedCodeGenerator/dist/KalturaEmbedCodeGenerator.js"></script -->
  <%= javascript_include_tag "KalturaEmbedCodeGenerator" %>
  <script>
  var gen = new kEmbedCodeGenerator({
    partnerId: "<%= "#{@partner_id}" %>",
    uiConfId: "<%= "#{@video.uiconf_id}" %>",
    entryId: "<%= "#{@video.entry_id}" %>",
    flashVars: {ks: "<%= "#{@session}" %>"}
  });
  document.write(gen.getCode());
  </script>
</p>

<%
 end
%>

  </div>

</div>

<footer>
  <div class="footer-copyright">
    <p>&copy; 2014 The Trustees of <a href="http://www.princeton.edu">Princeton University</a><br />
      Princeton, New Jersey 08544</p>
  </div>
</footer>

</body>
</html>

